* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
	font-size: 1.5rem;
}

.container {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  height: 49.7rem;
  border-radius: 2rem;
	padding: 1.6rem;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.qr-code {
  display: block;
  border-radius: 1rem;
  height: 28.8rem;
  width: 28.8rem;
}

.title {
  color: hsl(218, 44%, 22%);
  margin: 2.4rem 0 1.6rem 0;
  text-align: center;
  font-weight: 700;
	font-size: 2.2rem;
	line-height: 2.8rem;
}

.description {
  color: hsl(220, 15%, 55%);
  margin-top: 15px;
  text-align: center;
  font-weight: 400;
	line-height: 1.9rem;
	letter-spacing: 0.1875px;
}

.attribution {
	text-align: center;
	font-size: 12rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}